/* Generell CSS */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to bottom, transparent, #C0C6D5), url("../images/Bakgrundsbild.jpg");
    background-color: #C0C6D5;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 940px;
}

.rubrik {
    padding-bottom: 5px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

.borderFokus {
    padding-bottom: 5px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #505B75;
    font-family: 'Roboto Condensed', sans-serif;
}

.logo {
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;

}

.menySidor {
    display: flex;
    justify-content: space-around;
    width: 28%;
}

.menySidor li {
    list-style: none;
}

.menySidor a {
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.mobilNavigation {
    display: none;
    cursor: pointer;
}

.mobilNavigation div {
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: white;
}

.fadeIN {
    animation: fadeIn 3s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Generellt ändrad layout */
@media screen and (max-width: 1168px) {
    .menySidor {
        width: 43%;
    }
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    .menySidor {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #505B75;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 35%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        z-index: 9;
    }

    .menySidor li {
        opacity: 0;
    }

    .mobilNavigation {
        display: block;
    }
}


.aktiveraMeny {
    transform: translateX(0%);
}

@keyframes menySidorFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}


/* Startsida */
.startsidaContent {
    display: flex;
    justify-content: center;
}

.startsidaBildOchKnapp {
    justify-content: center;
}

#enBild {
    display: block;
    justify-content: space-around;
    align-items: center;
    filter: drop-shadow(0px 5px 3px black);
    margin: 40px 0 20px 0;
    border-radius: 10px;
}

#bildspelKontroll {
    display: block;
    justify-content: space-around;
    align-items: center;
    width: 500px;
    height: 57px;
    margin: 10px auto 10px auto;
    padding: 5px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 24px;
    background-color: #919BB2;
    color: black;
    border-width: 4px;
    border-style: solid;
    border-color: #919BB2;
    border-radius: 10px;
    cursor: pointer;
    filter: drop-shadow(0px 5px 3px black);
}

.startsidaTextOmBilder {
    display: flex;
    justify-content: center;
}

.StartsidaBildText {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: left;
    float: left;
    margin: 40px 0 40px 40px;
    padding: 20px;
    width: 300px;
    height: auto;
    background-color: #919BB2;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    border-radius: 10px;
    filter: drop-shadow(0px 5px 3px black);
}

.header {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 26px;
    font-weight: 900;
}


/* Startsida ändrad layout */
@media screen and (max-width: 900px) {
    #enBild {
        width: 400px;
        height: 400px;
    }

    #bildspelKontroll {
        width: 400px;
    }

    .StartsidaBildText {
        margin: 40px 0 40px 20px;
        height: 478px;
        font-size: 16px;
    }

    .header {
        font-size: 20px;
    }
}

@media screen and (max-width: 768px) {
    .startsidaContent {
        display: block;
    }

    #enBild {
        width: 300px;
        height: 300px;
        margin: 40px auto 20px auto;
    }

    .startsidaTextOmBilder {
        justify-content: center;
    }

    .StartsidaBildText {
        margin: 10px 0 40px 0;
        padding: 20px 20px 20px 20px;
        width: 300px;
        height: auto;
    }

    #bildspelKontroll {
        width: 300px;
        height: 50px;
    }
}


/* Programmerare */
.profilBilderMedNamn {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.profilFluffy {
    justify-content: center;
}

.profilSimba {
    justify-content: center;
}

#bildFluffy,
#bildSimba {
    margin: 40px 20px 20px 20px;
    border-radius: 10px;
    filter: drop-shadow(0px 5px 3px black);
}

.profilerNamn {
    display: flex;
    justify-content: center;
}

.namnFluffy {
    min-height: 6vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: 'Roboto Condensed', sans-serif;
}

.namnSimba {
    min-height: 6vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: 'Roboto Condensed', sans-serif;
}

.profilerBeskrivning {
    display: flex;
    justify-content: center;
    margin: 0px 0px 40px 0px;
}

.beskrivning {
    justify-content: center;
    float: left;
    padding: 20px;
    width: 780px;
    height: 200px;
    background-color: #919BB2;
    font-size: 17px;
    font-family: 'Roboto Condensed', sans-serif;
    border-radius: 10px;
    filter: drop-shadow(0px 5px 3px black);
}


/* Programmerare ändrad layout */
@media screen and (max-width: 900px) {

    #bildFluffy,
    #bildSimba {
        width: 320px;
        height: 320px;
    }

    .beskrivning {
        width: 680px;
    }
}

@media screen and (max-width: 768px) {
    .profilBilderMedNamn {
        display: block;
    }

    .profilFluffy,
    .profilSimba {
        width: 100%;
        align-items: center;
    }

    #bildFluffy {
        margin: 40px 0 10px 0;
        border-radius: 10px;
        width: 300px;
        height: 300px;
    }

    #bildSimba {
        margin: 0 0 10px 0;
        border-radius: 10px;
        width: 300px;
        height: 300px;
    }

    .beskrivning {
        width: 300px;
        height: 440px;
    }
}



/* Sida Fluffy */

.profilFluffySida {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.profilFluffyInnehall {
    display: flex;
    justify-content: center;
}

#bildFluffySida {
    margin: 40px 20px 20px 0px;
    border-radius: 10px;
    filter: drop-shadow(0px 5px 3px #505B75);
}

.skillsRutaFluffy {
    display: flex;
    justify-content: center;
}

.skillsFluffy {
    width: 360px;
    height: 360px;
    border-radius: 10px;
    margin: 40px 0px 20px 20px;
    display: inline-block;
    justify-content: center;
    background-color: #919BB2;
    filter: drop-shadow(0px 5px 3px #505B75);
}

.skillTyp {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
}

.ifyllningFluffy {
    margin: 0 20px 22px 20px;
    border-style: solid;
    border-width: 2px;
    border-radius: 25px;
    background-color: #C0C6D5;
    justify-content: center;
}

.skill1Fluffy,
.skill2Fluffy,
.skill3Fluffy,
.skill4Fluffy {
    height: 20px;
    border-style: solid;
    border-width: 0px;
    border-radius: 25px;
    background-color: #505B75;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 900;
    justify-content: center;
    align-content: center;
    filter: drop-shadow(0px 0px 3px #505B75);
}

.skill1Fluffy {
    width: 100%;
    animation: html 1.3s;
}

.skill2Fluffy {
    width: 90%;
    animation: javaScript 1.3s;
}

.skill3Fluffy {
    width: 80%;
    animation: mysql 1.3s;
}

.skill4Fluffy {
    width: 70%;
    animation: java 1.3s;
}

@keyframes html {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

@keyframes javaScript {
    0% {
        width: 0%;
    }

    100% {
        width: 90%;
    }
}

@keyframes mysql {
    0% {
        width: 0%;
    }

    100% {
        width: 80%;
    }
}

@keyframes java {
    0% {
        width: 0%;
    }

    100% {
        width: 70%;
    }
}

.namnFluffyProfil {
    font-size: 24px;
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 20px 0 20px 0;
    font-family: 'Roboto Condensed', sans-serif;
}

.profilerBeskrivningFluffy {
    display: flex;
    justify-content: center;
    margin: 10px 0px 40px 0px;

}

.beskrivningFluffy {
    display: block;
    justify-content: center;
    text-align: left;
    padding: 20px;
    width: 760px;
    height: 200px;
    font-size: 17px;
    background-color: #919BB2;
    font-family: 'Roboto Condensed', sans-serif;
    border-radius: 10px;
    filter: drop-shadow(0px 5px 3px #505B75);
}

/* Sida Fluffy ändrad layout */
@media screen and (max-width: 900px) {

    #bildFluffySida,
    .skillsFluffy {
        width: 320px;
        height: 320px;
    }

    .beskrivningFluffy {
        width: 680px;
    }

    .ifyllningFluffy {
        margin: 0 20px 13px 20px;
    }
}

@media screen and (max-width: 768px) {
    .profilFluffySida {
        display: block;
    }

    #bildFluffySida {
        margin: 40px 20px 0px 20px;
        width: 300px;
        height: 300px;
    }

    .skillsFluffy {
        margin: 40px 20px 20px 20px;
        width: 300px;
        height: 300px;
    }

    .beskrivningFluffy {
        width: 300px;
        height: 196px;
    }

    .profilerBeskrivningFluffy {
        margin: 20px 20px 40px 20px;
    }

    .namnFluffyProfil {
        margin: 15px 0 8px 0;
    }

    .ifyllningFluffy {
        margin: 0 20px 12px 20px;
    }
}

/* Sida Simba */
.profilSimbaSida {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.skillsRutaSimba {
    display: flex;
    justify-content: center;
}

.skillsSimba {
    width: 360px;
    height: 360px;
    border-radius: 10px;
    margin: 40px 20px 20px 0px;
    display: inline-block;
    justify-content: center;
    background-color: #919BB2;
    filter: drop-shadow(0px 5px 3px #505B75);
}

.namnSimbaProfil {
    font-size: 24px;
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 20px 0 20px 0;
    font-family: 'Roboto Condensed', sans-serif;
}

.ifyllningSimba {
    margin: 0 20px 22px 20px;
    border-style: solid;
    border-width: 2px;
    border-radius: 25px;
    background-color: #C0C6D5;
    justify-content: center;
}

.skill1Simba,
.skill2Simba,
.skill3Simba,
.skill4Simba {
    height: 20px;
    border-style: solid;
    border-width: 0px;
    border-radius: 25px;
    background-color: #505B75;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 900;
    justify-content: center;
    align-content: center;
    filter: drop-shadow(0px 0px 3px #505B75);
}

.skill1Simba {
    width: 100%;
    animation: html2 1.3s;
}

.skill2Simba {
    width: 90%;
    animation: javaScript2 1.3s;
}

.skill3Simba {
    width: 80%;
    animation: mysql2 1.3s;
}

.skill4Simba {
    width: 70%;
    animation: java2 1.3s;
}

@keyframes html2 {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

@keyframes javaScript2 {
    0% {
        width: 0%;
    }

    100% {
        width: 90%;
    }
}

@keyframes mysql2 {
    0% {
        width: 0%;
    }

    100% {
        width: 80%;
    }
}

@keyframes java2 {
    0% {
        width: 0%;
    }

    100% {
        width: 70%;
    }
}

.profilSimbaInnehall {
    display: flex;
    justify-content: center;
}

#bildSimbaSida {
    margin: 40px 0px 20px 20px;
    border-radius: 10px;
    filter: drop-shadow(0px 5px 3px #505B75);
}

.profilerBeskrivningSimba {
    display: flex;
    justify-content: center;
    margin: 10px 0px 40px 0px;
}

.beskrivningSimba {
    display: block;
    justify-content: center;
    text-align: left;
    padding: 20px;
    width: 760px;
    height: 200px;
    font-size: 17px;
    background-color: #919BB2;
    font-family: 'Roboto Condensed', sans-serif;
    border-radius: 10px;
    filter: drop-shadow(0px 5px 3px #505B75);
}

/* Sida Simba ändrad layout */
@media screen and (max-width: 900px) {

    #bildSimbaSida,
    .skillsSimba {
        width: 320px;
        height: 320px;
    }

    .beskrivningSimba {
        width: 680px;
    }

    .ifyllningSimba {
        margin: 0 20px 13px 20px;
    }
}

@media screen and (max-width: 768px) {
    .profilSimbaSida {
        display: block;
    }

    #bildSimbaSida {
        margin: 40px 20px 0px 20px;
        width: 300px;
        height: 300px;
    }

    .skillsSimba {
        margin: 40px 20px 0px 20px;
        width: 300px;
        height: 300px;
    }

    .profilerBeskrivningSimba {
        display: flex;
        justify-content: center;
        margin: 30px 0px 40px 0px;
    }

    .skillsRutaSimba {
        transform: translateY(100%);
    }

    .profilSimbaInnehall {
        transform: translateY(-100%);
    }

    .beskrivningSimba {
        width: 300px;
        height: 240px;
    }

    .profilerBeskrivningSimba {
        margin: 40px 20px 40px 20px;
    }

    .namnSimbaProfil {
        margin: 15px 0 8px 0;
    }

    .ifyllningSimba {
        margin: 0 20px 12px 20px;
    }
}


/* Projekt layout */
.projektContent {
    width: 100%;
}

.projektInformation {
    font-size: 25px;
    text-align: center;
    margin: 20px;
    font-family: 'Roboto Condensed', sans-serif;
}

.projektBeskrivning {
    text-align: left;
    margin: 20px;
}

.projektEtt,
.projektTva,
.projektTre {
    text-align: center;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-content: center;
}

.projektEttText,
.projektTvaUnity,
.projektTvaMobil,
.projektTreText {
    width: 400px;
    height: 400px;
    margin: 40px 20px 20px 0px;
    padding-top: 20px;
    justify-content: center;
    background-color: #919BB2;
    float: left;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    border-radius: 10px;
    filter: drop-shadow(0px 5px 3px #505B75);
}

#musik,
#portfolio {
    border-radius: 10px;
    margin: 40px 0px 20px 20px;
    float: left;
    filter: drop-shadow(0px 5px 3px #505B75);
}

.projektTvaUnity {
    margin: 40px 0px 20px 20px;
}

.projektTvaMobil {
    display: none;
}

.projektTvaBild img {
    margin: 40px 20px 20px 0px;
    float: left;
    border-radius: 10px;
    filter: drop-shadow(0px 5px 3px #505B75);
}

.projektTre {
    margin-bottom: 20px;
}

.projektTvaTextMobil {
    display: none;
}

/* Projekt ändrad layout */
@media screen and (max-width: 1000px) {

    #musik,
    #unity,
    #portfolio {
        width: 435px;
    }

    .projektEttText,
    .projektTvaUnity,
    .projektTreText {
        width: 276px;
    }
}

@media screen and (max-width: 768px) {
    .projektContent {
        justify-content: center;
    }

    .projektEtt {
        display: block;
    }

    .projektEttText {
        float: none;
        margin: 40px auto 40px auto;
        width: 300px;
        height: 300px;
    }

    #musik {
        width: 300px;
        height: 300px;
        float: none;
        margin: auto auto 60px auto;
    }

    .projektTvaMobil {
        text-align: center;
        display: block;
        float: none;
        margin: auto auto 40px auto;
        width: 300px;
        height: 300px;
    }

    .projektTvaUnity {
        display: none;
    }

    #unity {
        width: 300px;
        height: 300px;
        float: none;
        margin: auto auto 60px auto;
    }

    .projektTva {
        display: block;
    }

    #portfolio {
        width: 300px;
        height: 300px;
        float: none;
        margin: auto auto 40px auto;
    }

    .projektTre {
        display: block;
    }

    .projektTreText {
        float: none;
        margin: auto auto 40px auto;
        width: 300px;
        height: 300px;
    }
}


/* Kontakt */
.contentKontakt {
    justify-content: center;
    display: block;
}

#kontaktInformation {
    font-size: 25px;
    display: flex;
    justify-content: space-around;
    margin: 40px;
    font-family: 'Roboto Condensed', sans-serif;
}

.kontaktRuta {
    font-family: 'Roboto Condensed', sans-serif;
    border-radius: 10px;
    background-color: #919BB2;
    padding: 20px;
    margin: 40px auto 40px auto;
    width: 540px;
    filter: drop-shadow(0px 5px 3px #505B75);

}

form {
    justify-content: center;
    display: block;
}

.kontaktRubrik {
    font-size: 20px;
    width: 100px;
    color: black;
}

#kontaktNamn,
#telefon,
#epost,
#meddelande,
.skicka {
    border-radius: 10px;
    margin: 7px 0px 0px 0px;
}

#namnValidering,
#telefonValidering,
#epostValidering,
#meddelandeValidering {
    margin-top: -2.5%;
    margin-bottom: -2.5%;
    margin-left: 20px;
    font-size: 14px;
    padding: 20px;
    visibility: hidden;
}

.kontaktRuta input:focus {
    outline: none;
    border-color: rgb(6, 2, 247);
}

input[type=text],
textarea {
    width: 100%;
    padding: 12px;
    border: 2px solid darkgrey;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

.skicka {
    background-color: #C0C6D5;
    color: black;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    width: 100%;
    padding: 12px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.skicka:hover {
    background-color: rgb(101, 211, 37);
}

.karta {
    width: 100%;
    text-align: center;
    justify-content: center;
}

.kontaktKarta {
    border-radius: 10px;
    width: 500px;
    height: 500px;
    margin: 10px 0px 0px 0px;
}

.textTillKarta {
    text-align: center;
    margin-top: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    color: black;
}

#hideKarta {
    background-color: #C0C6D5;
    color: black;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    width: 100%;
    padding: 12px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin: 20px 0 0 0;
}

#hideKarta:hover {
    background-color: tomato;
}

/* Kontakt ändrad layout */
@media (max-width: 768px) {
    .kontaktRuta {
        width: 300px;
    }

    #namnValidering,
    #telefonValidering,
    #epostValidering,
    #meddelandeValidering {
        margin-top: -5%;
    }

    #kontaktInformation {
        font-size: 14px;
    }

    .formKontaktRuta {
        width: 100%;
    }

    .kontaktKarta {
        width: 260px;
        height: 260px;
    }

    .namnKrav,
    .telefonKrav,
    .epostKrav,
    .meddelandeKrav {
        margin: 0px 0px -17px 0px;
    }
}